$screenAndMobile: "screen and (max-width: 960px)";
$screenAndQuadHD: "screen and (min-width: 2560px)";
$screenAnd4k: "screen and (min-width: 3800px)";

$size10px: 0.625rem;
$size12px: 0.75rem;
$size14px: 0.875rem;
$size16px: 1rem;
$size18px: 1.125rem;
$size20px: 1.25rem;
$size24px: 1.5rem;
$size30px: 1.875rem;
$size32px: 2rem;
$size34px: 2.125rem;
$size40px: 2.5rem;
$size60px: 3.75rem;

$colorSuccess: #158000;

$borderPrimary: #353535;
$borderSecondary: #4dadf9;
$borderTertiary: #131314;

$backgroundPrimary: #131314;
$backgroundSecondary: #242426;