$fa-font-path: "~font-awesome/fonts";

@import "~vuetify/dist/vuetify.min.css";
@import "~font-awesome/scss/font-awesome";

@import "_allVars";
@import "_typography";

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background: $backgroundPrimary;
    margin: 0;
    padding: 0;

    .application {
        background: transparent !important;
    }
}

.icon {        
    &.icon-asset-xrp {
        background-image: url('./images/crypto-icons/xrp@2x.png')
    }
    
    &.icon-asset-btc {
        background-image: url('./images/crypto-icons/btc@2x.png')
    }
    
    &.icon-asset-eth {
        background-image: url('./images/crypto-icons/eth@2x.png')
    }
    
    &.icon-asset-strat {
        background-image: url('./images/crypto-icons/strat@2x.png')
    }
    
    &.icon-asset-gnt {
        background-image: url('./images/crypto-icons/gnt@2x.png')
    }
    
    &.icon-asset-maid {
        background-image: url('./images/crypto-icons/maid@2x.png')
    }
    
    &.icon-asset-lsk {
        background-image: url('./images/crypto-icons/lsk@2x.png')
    }
    
    &.icon-asset-ltc {
        background-image: url('./images/crypto-icons/ltc@2x.png')
    }
    
    &.icon-asset-xlm {
        background-image: url('./images/crypto-icons/xlm@2x.png')
    }
    
    &.icon-asset-eos {
        background-image: url('./images/crypto-icons/eos@2x.png')
    }
    
    &.icon-asset-ada {
        background-image: url('./images/crypto-icons/ada@2x.png')
    }
    
    &.icon-asset-eng {
        background-image: url('./images/crypto-icons/eng@2x.png')
    }
    
    &.icon-asset-iota {
        background-image: url('./images/crypto-icons/miota@2x.png')
    }
}