$fa-font-path: "~font-awesome/fonts";

@import "~vuetify/dist/vuetify.min.css";
@import "~font-awesome/scss/font-awesome";

@import "_allVars";
@import "_typography";
@import "cryptos";

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background: $backgroundPrimary;
    margin: 0;
    padding: 0;

    .application {
        background: transparent !important;
    }
}